<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  {% include analytics.html %}
  
  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>
 
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="{{ site.github.url }}/public/css/poole.css">
  <link rel="stylesheet" type="text/css" href="{{ site.github.url }}/public/css/syntax.css">
  <link rel="stylesheet" type="text/css" href="{{ site.github.url }}/public/css/hyde.css">
  <link rel="stylesheet" type="text/css" href="{{ site.github.url }}/public/css/sinric.css">
  <link rel="stylesheet" type="text/css" href="{{ site.github.url }}/public/css/vs.css">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">

  <!-- Icons -->
  <link rel="shortcut icon" href="{{ site.github.url }}/public/favicon.ico">

  <script src="{{ site.github.url }}/public/js/scripts.js"></script>

  {% seo %}
  
  <!-- Canonical URL -->
  {% assign canonical_url = page.url | prepend: site.url %}
  {% if site.active_lang and site.active_lang != site.default_lang %}
    {% assign canonical_url = page.url | prepend: site.url %}
  {% else %}
    {% assign canonical_url = page.url | remove: '/pt' | prepend: site.url %}
    {% if canonical_url == site.url %}
      {% assign canonical_url = site.url | append: '/' %}
    {% endif %}
  {% endif %}
  <link rel="canonical" href="{{ canonical_url }}" />
  
  <!-- Multilingual hreflang tags -->
  {% for language in site.languages %}
    {% if language == 'en' %}
      {% assign lang_url = page.url | remove: '/pt' %}
      {% if lang_url == '' or lang_url == '/' %}
        {% assign lang_url = '/' %}
      {% endif %}
      <link rel="alternate" hreflang="en" href="{{ site.url }}{{ lang_url }}" />
    {% elsif language == 'pt' %}
      {% assign lang_url = page.url %}
      {% unless lang_url contains '/pt' %}
        {% if lang_url == '/' %}
          {% assign lang_url = '/pt/' %}
        {% else %}
          {% assign lang_url = '/pt' | append: lang_url %}
        {% endif %}
      {% endunless %}
      <link rel="alternate" hreflang="pt-BR" href="{{ site.url }}{{ lang_url }}" />
    {% endif %}
  {% endfor %}
  
  <!-- Default hreflang -->
  <link rel="alternate" hreflang="x-default" href="{{ site.url }}{{ page.url | remove: '/pt' | default: '/' }}" />
</head>
